@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
body {
  background-color: #d82020;
  height: 67vh;
}

.header {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-family: 'Bebas Neue', cursive;
  height: 15vh;
  padding: 8px;
}

.header__Up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 5%;
  width: 18%;
  height: 100%;
  cursor: pointer;
}

.header__Up__logo {
  width: 90%;
  height: 100%;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 42px;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  margin-left: auto;
}

.header__nav__link {
  margin-left: 25px;
  margin-right: 25px;
  cursor: pointer;
  text-decoration: none;
  color: #000000;
}

.header__nav__link:hover {
  color: #ff3d3d;
  cursor: pointer;
  text-decoration: none;
}

.active-link {
  color: yellow;
}

.detalle {
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
  width: 70%;
  background-color: white;
  border-radius: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.detalle__titulo {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 55px;
  font-weight: bold;
}

.detalle__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.detalle__content__img {
  width: 45%;
  margin-left: 2rem;
}

.detalle__content__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 25px;
}
/*# sourceMappingURL=modelosList.css.map */